{% extends "GestionAdminBundle::layoutadmin.html.twig" %}

{% block bodylayout  %}
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">


        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Accueil</a>
            </li>

            <li>
                <a href="#">Liste Image Offre</a>
            </li>

        </ul><!-- /.breadcrumb -->


    </div>

    <div class="page-content">


        <div class="widget-body">

            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Liste Image Offre </h3>
                    </div><!-- /.box-header -->

                    </br>                        
                    </br>

                    <div class="box-body"> 

                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <div>
                                    <ul class="ace-thumbnails clearfix">

 {% for a in entity %} 
                                        <li>
                                            <a href="{{ asset('upload/imageoffre/' ~ a.image) }}" data-rel="colorbox">
                                                <img width="150" height="150" alt="150x150" src="{{ asset('upload/imageoffre/' ~ a.image) }}" />
                                            </a>

                                            <div class="tools tools-right">

                                                <a class="btn btn-small"  title="Activer la banière" href="{{ path('imageoffre_active', { 'id': a.id }) }}">


		   {%if a.etat == 1 %}  <i class="ace-icon fa fa-lock"></i> {%else%} <i class="icon-remove"></i> 
                                                    <i class="ace-icon fa fa-unlock"></i> {% endif %} </a>





                                                <a     class="red" title="Supprimer" href="{{ path('imageoffre_suppimage', { 'id': a.id }) }}">
                                                    <i class="ace-icon fa fa-times red"></i>
                                                </a>
                                            </div>
                                        </li>

                                        {% endfor %}


                                    </ul>
                                </div><!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

        </div>
    </div>
</div>
</div><!-- /.main-content -->


</form>  
{% endblock %}
