 
 {% block footer %}
<footer id="colophon" class="site-footer clearfix">

        <div id="quaternary" class="sidebar-container " role="complementary">
            <div class="sidebar-inner">
                <div class="widget-area clearfix">
                    <div id="vc_widget-22" class="widget widget_vc_widget"><div class="scoped-style" data-content-id="19"><div class="vc_row wpb_row vc_row-fluid vc_custom_1438174758472"><div class="row"><div class="h-padding-0 wpb_column vc_column_container vc_col-sm-12"><div class="wpb_wrapper"><div class="vc_row wpb_row vc_inner vc_row-fluid container vc_custom_1438175167808"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-8"><div class="wpb_wrapper">
                                                            <div class="wpb_text_column wpb_content_element ">
                                                                <div class="wpb_wrapper">
                                                                    <h3><span style="color: #ffffff;">Welcome to Kupon. Responsive Deal Template</span></h3>
                                                                    <p><span style="color: #ffffff;">Carefully designed to bring you the best performance, usage and customization experience!</span></p>

                                                                </div>
                                                            </div>
                                                        </div></div><div class="wpb_column vc_column_container vc_col-sm-4 vc_custom_1438175695166"><div class="wpb_wrapper"><div class="vc_btn3-container vc_btn3-center"><a style="background-color:#4e6cef; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-custom vc_btn3-icon-left" href="http://localhost/wordpress4/?product=gjgj" title=""><i class="vc_btn3-icon vc_li vc_li-vallet"></i> Purchase now</a></div>
                                                        </div></div></div></div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid container h-padding-0 vc_custom_1436372977291"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper">
                                            <div class="wpb_single_image wpb_content_element vc_align_left">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="180" height="54" src="{{ asset('assets/img/logo.png') }} " class="vc_single_image-img attachment-full" alt="logo" /></div>
                                                </figure>
                                            </div>

                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p>Kupon,travel deals &amp; publishing,with minimal design. We provide you with the latest fresh inspiration straight from the industry.</p>

                                                </div>
                                            </div>
                                        </div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper"><div class="vc_wp_tagcloud wpb_content_element"><div class="widget widget_tag_cloud"><h2 class="widgettitle">Tags</h2><div class="tagcloud"><a href='product-tag/discount/index.html' class='tag-link-21 tag-link-position-1' title='1 topic' style='font-size: 8pt;'>Discount</a>
                                                        <a href='product-tag/europe/index.html' class='tag-link-24 tag-link-position-2' title='1 topic' style='font-size: 8pt;'>Europe</a>
                                                        <a href='product-tag/travel/index.html' class='tag-link-20 tag-link-position-3' title='3 topics' style='font-size: 22pt;'>Travel</a>
                                                        <a href='product-tag/vacation/index.html' class='tag-link-19 tag-link-position-4' title='1 topic' style='font-size: 8pt;'>Vacation</a></div>
                                                </div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="wpb_wrapper"><div class="vc_wp_categories wpb_content_element "><div class="widget widget_categories"><h2 class="widgettitle">Categories</h2>            <ul>
                                                        <li class="cat-item cat-item-10"><a href="product-category/travel/index.html" ><img width="1" height="1" src="wp-content/uploads/2015/07/map30.svg" class="attachment-thumbnail size-thumbnail" alt="map30" /><span>Travel</span></a>
                                                            <ul class='children'>
                                                                <li class="cat-item cat-item-18"><a href="product-category/travel/promo/index.html" >Promo</a>
                                                                </li>
                                                                <li class="cat-item cat-item-17"><a href="product-category/travel/europe/index.html" >Europe</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="cat-item cat-item-12"><a href="product-category/products/index.html" ><img width="1" height="1" src="wp-content/uploads/2015/07/fresh7.svg" class="attachment-thumbnail size-thumbnail" alt="fresh7" /><span>Products</span></a>
                                                        </li>
                                                        <li class="cat-item cat-item-13"><a href="product-category/tickets/index.html" ><img width="1" height="1" src="wp-content/uploads/2015/07/shopping1.svg" class="attachment-thumbnail size-thumbnail" alt="shopping1" /><span>Tickets</span></a>
                                                        </li>
                                                        <li class="cat-item cat-item-16"><a href="product-category/things-to-do/index.html" ><img width="1" height="1" src="wp-content/uploads/2015/07/checked27.svg" class="attachment-thumbnail size-thumbnail" alt="checked27" /><span>Things to do</span></a>
                                                        </li>
                                                        <li class="cat-item cat-item-15"><a href="product-category/fashion/index.html" ><img width="1" height="1" src="wp-content/uploads/2015/07/picture83.svg" class="attachment-thumbnail size-thumbnail" alt="picture83" /><span>Fashion</span></a>
                                                        </li>
                                                    </ul>
                                                </div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-2"><div class="wpb_wrapper"><div class="vc_wp_custommenu wpb_content_element"></div>
                                        </div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1436200654228"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="wpb_wrapper"></div></div></div></div><div class="vc_row wpb_row vc_row-fluid container h-padding-0 vc_custom_1436372983229"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-8 vc_custom_1438175889641"><div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <p><strong>Copyright 2017 </strong><i class="ti-heart"></i> <strong> by S2M Digital</strong></p>

                                                </div>
                                            </div>
                                        </div></div><div class="wpb_column vc_column_container vc_col-sm-4"><div class="wpb_wrapper">
                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                <div class="wpb_wrapper">
                                                    <ul class="social pull-right">
                                                        <li><a href="#" class="social-btn social-facebook" title="Facebook"><i class="ti-facebook"></i></a>
                                                        </li>
                                                        <li><a href="#" class="social-btn social-twitter" title="Twitter"><i class="ti-twitter"></i></a>
                                                        </li>
                                                        <li><a href="#" class="social-btn social-google" title="Google+"><i class="ti-google"></i></a>
                                                        </li>
                                                        <li><a href="#" class="social-btn social-linkedin" title="LinkedIn"><i class="ti-linkedin"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div><!-- .widget-area -->
            </div><!-- .sidebar-inner -->
        </div><!-- #quaternary -->

    </footer><!-- #colophon -->            {% endblock %}