 
 {% block menu %}
					  <header id="masthead" class="site-header clearfix">
                <div id="secondary" class="sidebar-container " role="complementary">
                    <div class="sidebar-inner">
                        <div class="widget-area clearfix">
                            <div id="vc_widget-23" class="widget widget_vc_widget"><div class="scoped-style" data-content-id="21"><div class="vc_row wpb_row vc_row-fluid container vc_custom_1436103019534"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-sm vc_hidden-xs vc_col-md-6"><div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Have any questions? <strong>+080 124 880</strong> or &#109;&#x61;i&#x6c;&#x40;&#112;&#x61;m&#x75;&#x6b;&#111;&#x76;i&#x63;&#x2e;&#99;&#x6f;m</p>

                                                        </div>
                                                    </div>
                                                </div></div><div class="wpb_column vc_column_container vc_col-sm-12 vc_col-xs-12 vc_col-md-6"><div class="wpb_wrapper"><div class="template-part header-my-account">

                                                        <div class="header-my-account ">
                                                            <div class="dropdown">
                                                                <input id="login-register-toggle" type="checkbox" style="position: absolute; clip: rect(0, 0, 0, 0);">
                                                                <div class="link">
                                                                    <a href="my-account/index.html">
                                                                        <span>Login/Register</span>

                                                                    </a>            
                                                                    <label for="login-register-toggle"></label>
                                                                </div>
                                                                <div class="form">
                                                                    <label for="login-register-toggle"></label>
                                                                    <input id="register-toggle" type="checkbox" style="position: absolute; clip: rect(0, 0, 0, 0);">
                                                                    <div></div>
                                                                    <label for="register-toggle">
                                                                        <span class="login">Already have an account?</span>
                                                                        <span class="register">Don&#039;t have an account?</span>
                                                                    </label>




                                                                    <div class="col2-set" id="customer_login">

                                                                        <div class="col-1">


                                                                            <h2>Login</h2>

                                                                            <form method="post" class="login">


                                                                                <p class="form-row form-row-wide">
                                                                                    <label for="username">Username or email address <span class="required">*</span></label>
                                                                                    <input type="text" class="input-text" name="username" id="username" value="" />
                                                                                </p>
                                                                                <p class="form-row form-row-wide">
                                                                                    <label for="password">Password <span class="required">*</span></label>
                                                                                    <input class="input-text" type="password" name="password" id="password" />
                                                                                </p>


                                                                                <p class="form-row">
                                                                                    <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="ab8fa42a6e" /><input type="hidden" name="_wp_http_referer" value="/kupon/" />                <input type="submit" class="button" name="login" value="Login" />
                                                                                    <input name="rememberme" type="checkbox" id="rememberme" value="forever" />
                                                                                    <label for="rememberme" class="inline">
                                                                                        Remember me                </label>
                                                                                </p>
                                                                                <p class="lost_password">
                                                                                    <a href="my-account/lost-password/index.html">Lost your password?</a>
                                                                                </p>


                                                                            </form>


                                                                        </div>

                                                                        <div class="col-2">

                                                                            <h2>Register</h2>

                                                                            <form method="post" class="register">



                                                                                <p class="form-row form-row-wide">
                                                                                    <label for="reg_email">Email address <span class="required">*</span></label>
                                                                                    <input type="email" class="input-text" name="email" id="reg_email" value="" />
                                                                                </p>


                                                                                <p class="form-row form-row-wide">
                                                                                    <label for="reg_password">Password <span class="required">*</span></label>
                                                                                    <input type="password" class="input-text" name="password" id="reg_password" />
                                                                                </p>


                                                                                <!-- Spam Trap -->
                                                                                <div style="left: -999em; position: absolute;"><label for="trap">Anti-spam</label><input type="text" name="email_2" id="trap" tabindex="-1" /></div>

                                                                                <p class="form-row form-row-wide">
                                                                                    <label for="first_name">First Name</label>
                                                                                    <input type="text" name="first_name" id="first_name" class="input-text" value="" size="25" />
                                                                                </p>
                                                                                <p class="form-row form-row-wide">
                                                                                    <label for="last_name">Last Name</label>
                                                                                    <input type="text" name="last_name" id="last_name" class="input-text" value="" size="25" />
                                                                                </p>

                                                                              
                                                                                <noscript><input type="hidden" name="JS04X7" value="NS3" /></noscript>
                                                                                <noscript><p><strong>Currently you have JavaScript disabled. In order to register, please make sure JavaScript and Cookies are enabled, and reload the page.</strong> <a href="http://enable-javascript.com/" rel="nofollow external" >Click here for instructions on how to enable JavaScript in your browser.</a><br /><br /></p></noscript>
                                                                                <div class="clear"></div>



                                                                                <p class="form-row">
                                                                                    <input class="input-checkbox"
                                                                                           id="apply_for_vendor"  type="checkbox"
                                                                                           name="apply_for_vendor" value="1"/>
                                                                                    <label for="apply_for_vendor"
                                                                                           class="checkbox">Apply to become a vendor? </label>
                                                                                </p>




                                                                                <div class="clear"></div>

                                                                                <p class="form-row">
                                                                                    <input type="hidden" id="woocommerce-register-nonce" name="woocommerce-register-nonce" value="772904d3b7" /><input type="hidden" name="_wp_http_referer" value="/kupon/" />                    <input type="submit" class="button" name="register" value="Register" />
                                                                                </p>


                                                                            </form>

                                                                        </div>

                                                                    </div>

                                                                    <div class="social-login">
                                                                        <label>Connect with Social Networks:</label> <a href="indexec65.html?social-login=facebook"><i class="fa fa-facebook"></i></a><a href="index1f7d.html?social-login=google"><i class="fa fa-google"></i></a>                </div>
                                                                </div>
                                                            </div>    
                                                        </div>
                                                    </div><div class="vc_wp_custommenu wpb_content_element"><div class="widget widget_nav_menu"><div class="menu-secondary-container"><ul id="menu-secondary" class="menu vc"><li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="my-deals/index.html" class="menu-link">Submit deal</a></li>
                                                                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page cart menu-item-32"><a href="cart/index.html" class="menu-link"><span class="fa fa-shopping-cart"></span><span class="count">0</span>in cart</a></li>
                                                                </ul></div></div></div>
                                                </div></div></div></div></div></div>            </div><!-- .widget-area -->
                    </div><!-- .sidebar-inner -->
                </div><!-- #secondary -->

                <div class="clearfix">
                    <div class="header-parts container">
                        <a class="site-title" href="index.html" rel="home"><img src="wp-content/uploads/2015/07/logo.png" alt="logo"></a>
                        <div class="mobile-menu-button"><span><i class="fa fa-bars"></i></span></div>                    
                        <nav class="site-navigation mobile-menu">
                            <div class="menu-primary-container">
                                <ul id="primary-menu-mobile" class="nav-menu">




                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="news/index.html" class="menu-link">News</a></li>
                                </ul></div></nav><nav class="site-navigation primary-navigation">
                            <div class="menu-primary-container"><ul id="primary-menu" class="nav-menu">


                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="news/index.html" class="menu-link">News</a></li>
                                    <div class="vc_row wpb_row vc_row-fluid container vc_custom_1435816989630"><div class="row">
                                            <div class="wpb_column vc_column_container vc_col-sm-12"><div class="wpb_wrapper">
                                                    <div class="wpb_tour wpb_content_element" data-interval="0">

                              </div>
                           </div></div></div></div>
                            </div></div></li>
                    </ul></div></nav>                        
        </div>
    </div>


</header><!-- #masthead -->
                                        {% endblock %}