{% extends "GestionAdminBundle::layout.html.twig" %}

{% block content %}

<div>
   <ul class="breadcrumb">
        <li>
      Gérer Baniere 
    </li>
					
				</ul>
   </div>
		
<div class="row-fluid sortable">
	 <div class="box span12">
		<div class="box-header well" data-original-title >
		<h2><i class="icon-edit"></i> Les Banières disponibles </h2>
		<div class="box-icond">
                    
                   </div>
                </div>
                 <div class="box-content">
               
                       <div class="control-group">
    <label class="control-label" for="typeahead"> Image :</label>
	<div class="controls"> 
                     
		
        
                 
                </div>
                 
		</div>
	        </div>

{% endblock %}

